* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin-top: 40px;
    margin-left: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.perfil-card {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    width: 650px;
    border: solid 1px #96969693;
}

.perfil-card h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.perfil-card h2 {
    margin-top: 30px;
    color: #444;
    font-size: 18px;
    border-top: 1px solid #ddd;
    padding-top: 15px;
}

.fila {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.campo {
    flex: 1;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"] {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[readonly] {
    background-color: #e9e9e9;
    color: #555;
}

.botones {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn-cancelar {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f44336;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: .8rem;
}

.mensaje {
    background-color: #fff;
    padding: 10px 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.mensaje-exito {
    border: 1px solid #2bcc30a1;
}

.mensaje-error {
    border: 1px solid #cc3e2ba1;
}