:root {
  --color-back: #4CAF50;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-top: 40px;
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Teachers', sans-serif;
}

body {
  font-family: Arial, sans-serif;
}

.card {
  background: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: solid 1px #969696ad;
}

h2 {
  margin-top: 0;
  text-align: center;
}

.columna {
  margin-bottom: 1.5rem;
}

.columna h3 {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25rem;
  font-size: 1.1rem;
  color: #333;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1rem;
}

.materia {
  display: flex;
  align-items: center;
}

.materia input[type="checkbox"] {
  margin-right: 0.5rem;
}

.botones {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-guardar,
.btn-volver {
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn-guardar {
  background: #4CAF50;
  color: white;
  border: none;
}

.btn-volver {
  background: #696969;
  color: #fff;
  border: none;
}

.mensaje-exito {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #2bcc30a1;
}

.mensaje-error {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #cc3e2ba1;
}

.ocupada {
  background-color: var(--color-back);
  color: var(--color-green);
  border: 1px solid #f5c6cb;
  opacity: 0.7;
}

.ocupada label {
  position: relative;
  opacity: 0.9;
}

.ocupada label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #033504;
  transform: translateY(-50%);
}

.color-ayuda {
  margin-bottom: 20px;
  font-family: 'Teachers';
  font-weight: 500;
}

.color-ayuda span {
  position: relative;
}

.color-ayuda span::before {
  content: "";
  display: inline-block;
  border-radius: 15%;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: bottom;
  background-color: var(--color-back);
  opacity: 0.7;
}