* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  margin-top: 40px;
  margin-left: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Teachers', Arial, Helvetica, sans-serif;
}

.card {
  background: #ebebeb;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: solid 1px #969696ad;
  margin-top: 15px;
}

.card-materias {
  width: 80%;
  padding-bottom: 25px;
}

.card-alta {
  width: 80%;
  padding-bottom: 25px;
  margin-top: 20px;
  margin-bottom: 40px;

}

h2 {
  margin-top: 0;
  text-align: center;
}

.box-title {
  width: 100%;
  background-color: #4CAF50;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: .5rem .5rem;
}

.title-card {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #fff;
}

.btn-seleccionar {
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  font-size: .9rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #4CAF50;
  color: white;
}

.mensaje-no-materias {
  margin: 20px 0 30px 0;
}

.lista-materias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0;
  margin: 18px 13px 30px 13px;
  list-style: none;
}

.materia-item {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: default;
  border: solid 1px #969696ad;
    
}

.materia-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.form-alta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

.form-row {
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex: 1;
    max-width: 320px;
}

.form-group label {
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: #333;
}

.form-group input {
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 0.95rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    width: 100%;
    margin: 0 auto;
}

.form-group input:focus {
    border-color: #4a90e2;
    box-shadow: 0 0 4px rgba(74, 144, 226, 0.3);
    outline: none;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}

input[readonly] {
  background-color: #e9e9e9;
  color: #555;
}

.btn-alta {
  padding: 0.7rem 1.5rem;
  background-color: #4CAF50;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
  text-align: center;
  margin: 0 auto;
}

.mensaje-exito {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #2bcc30a1;
}

.mensaje-error {
  background-color: #fff;
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #cc3e2ba1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-contenido {
  background: white;
  padding: 25px 30px;
  border-radius: 10px;
  width: 360px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  animation: aparecer 0.2s ease-out;
}

.icono-exito {
  font-size: 4.5rem;
  color: #2fc752;
}

.icono-error {
  font-size: 4.5rem;
  color: #dc3545;
}

.modal-contenido p {
  margin-bottom: 20px;
  font-family: 'Teachers';
}

.modal-contenido button {
  padding: 12px 25px;
  background: #3da856;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.modal-contenido button:hover {
  background: #318645;
  transition: .5s;
}

@keyframes aparecer {
  from { transform: scale(0.8); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}